
<h2>Chat</h2>
<hr>
<div class="app-mensajes" id="app-mensajes">

  <div *ngFor="let mensaje of cs$.chats"
        [ngClass]="{'text-end': cs$.usuario.uid == mensaje.uid }">
    <span class="badge"
          [ngClass]="{'bg-primary': cs$.usuario.uid == mensaje.uid,
                      'bg-success': cs$.usuario.uid != mensaje.uid }">{{ mensaje.nombre }}</span>
    <p> {{ mensaje.mensaje }}</p>
  </div>

<!--   <div class="text-end">
    <span class="badge bg-primary">Oscar</span>
    <p>
      Te saluda Oscar
    </p>
  </div>

  <div>
    <span class="badge bg-success">Raquel</span>
    <p>
      Que hay Oscar, como estas, todo bien
    </p>
  </div> -->

</div>

<div class="enviar">
  <input class="form-control mt-3" type="text" name="mensaje" placeholder="Mensaje a enviar"
          [(ngModel)]="mensaje"
          (keyup.enter)="enviarMensaje()">
  <i class="fas fa-paper-plane ico-enviar fa-2x puntero"
      (click)="enviarMensaje()"
  ></i>
</div>
